@media only screen and (max-width:767px) {
  

.contact-header{
  display: none;
}
.contact-form{
  height: 100vh;
  margin: 2rem;
}
.form{
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 2px solid #def1f7;
  border-radius: 2rem;
}
.form-header{
  margin-top: 1rem;
  margin-bottom: 3.8rem;
}
.form-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.form input, form select{
  display: inline-block;
  margin-bottom: 2rem;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: 0.2px solid #ccc ;
  width: 100%;
 
}
.form-info input[placeholder] {
  text-align: center;
}
.form-info select{
  text-align: center;
  
}
.form label{
  display:block;
  margin-bottom: 1rem;
}
.form-button .button {
  background-color: #02b0eb;
  display: block;
  padding: 1rem 2rem;
  text-align: center;
  border-radius: 8rem;
  text-decoration: none;
  border-color: transparent;
  
}
.form-button{
  margin: 1rem auto;
}
.form-button__checkbox{
  display: none;
}
.form-top-button .top{
  display: none;
}

}

@media only screen and (min-width: 768px) {

section{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.contact-header {
  
  margin: 4rem auto;
  height: 50vh;
  display: flex;
}

.contact-header h1 {
  margin-bottom: 5rem;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.contact-header h1 span {
  color: #02b0eb;
}

.contact-header__image {
  width: 20rem;
  height: 20rem;
}

.contact-header__image img {
  width: 150%;
  transform: translateX(-5rem);
}
.contact-header__info{
  margin-left: 3rem;
}
.contact-header__info--list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 20rem);
  grid-template-rows: auto auto;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
}

.contact-header__icon {
  border-radius: 50%;
  border: 1px solid #02b0eb;
  padding: 4px;
  margin-right: 8px;
  color: #02b0eb;
  display: inline-block;
}
.contact-header__info--list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}

.contact-form {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-top-left-radius: -20px;
  background: linear-gradient(
    90deg,
    rgba(51, 53, 64, 0.1) 0%,
    rgba(2, 176, 235, 0.1) 100%
  );
  border: none;

  /* ========For the 2-tone effect======= */
  background-image: radial-gradient(at top left, rgba(2, 176, 235, 0.09) 67%, transparent 67.5%),
  linear-gradient(90deg, #3335401a 0%, rgba(2, 176, 235, 0.1) 100%);
  background-size: 109% 55%, cover;
  background-repeat: no-repeat;
}

.form {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
  margin: 4rem;
  background-color: #ffffff;
  padding: 4rem;
  border-radius: 1.4rem;
}
.form-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form input, .form select {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: 0.2px solid #ccc ;
  margin-left: 4px;
  flex-grow: 2;
}
.form-info input[placeholder] {
  text-align: center;
}
.form-info select{
  text-align: center;
  
}
.form-button {
  display: flex;
  justify-content: space-between;
}
.form-button__checkbox {
  width: 25rem;
}
.form-button__checkbox label{
  font-size: 0.7rem;
}

.form-button .button {
  background-color: #02b0eb;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  text-decoration: none;
  border-color: transparent;
}
.form-button .button:hover {
  background-color: white;
  color: #333540;
  transition: 0.3s linear;
  border: 1px solid #1A1A1A;
}
.form-top-button{
 display: inline-block;
 position: relative;
 bottom: 25rem;
 left: 72rem;
}
.form-top-button .top{
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.form-top-button button{
  padding: 0.5rem 1.1rem;
  text-align: center;
  border-radius: 10rem ;
  text-decoration: none;

}

.form-top-button .top-button{
  background-color: #f3f4f0;
  border-bottom-right-radius: 0;
  color: #000;
}
.form-top-button .bottom-button{
  background-color: #333540;
  color: #ffffff;
}
}
