@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

.database {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
}

.database img {
    width: 50%;
    object-fit: cover;
}

.database p {
    width: 50%;
}


*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none; 
    border: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

section {
    padding: 2rem 3%;
}

/* Services hero section styling */
.services-hero {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.services-hero .main-content {
    max-width: 50rem;
}

.services-hero .main-content h3 {
    font-size: 3rem;
    color: #1A1A1A;
    text-transform: uppercase;
    font-weight: bold;
}

.services-hero .main-content span {
    color: #02B0EB;
    line-height: 1.7;
}

.services-hero .main-content p {
    font-size: 1.2rem;
    color: #333540;
    padding: 1rem 0;
    line-height: 1.5;
}

.services-hero .main-content .btn {
    display: inline-block;
    margin-top: 30px;
    background-color: #02B0EB;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    padding: 0.9rem 3.5rem;
    cursor: pointer;
}

.services-hero .main-content .btn:hover {
    background: none;
    color: #000;
    border: 1px solid #000;
    transition: 0.3s linear;
}

.services-hero .main-content .small-text {
    font-size: 1.1rem;
    margin-top: 2rem;
    color: gray
}

.services-hero .main-content .small-text span {
    background-color: gray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
    color: white;
    font-size: 10px;
    padding: 5px;
}

.hero-image {
    width: 600px;
    height: 100vh;
    margin-left: 70px;
}  


@media only screen and (max-width:600px) {
    .hero-image {
       display: none;
    }
    .services-hero .main-content h3 {
        font-size: 2.2rem;
    }
 }  
 
 @media only screen and (max-width: 800px) {
    .hero-image {
       display: none;
    }
 }
 
 @media (max-width:991px) {
    .services-hero{
        background-position: left;
    }
}



 /* Services bottom section */
 .personal-services .row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
    padding-bottom: .5rem;
} 

.personal-services .row .image-cont {
    border-radius: 50%;
    position: relative;
    flex:1 1 40rem;
}

.personal-services .row .image-cont img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
    border-radius: 2px;
    object-fit: cover;
} 


.personal-services .row .ps-content {
    flex: 1 1 40rem;
}

.personal-services .row .ps-content h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #1A1A1A;
}

.personal-services .row .ps-content p{
    font-size: 1.1rem;
    color: #1A1A1A;
    padding: 0.5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.ps-content .ps-btn {
    display: inline-block;
    background: none;
    color: #1A1A1A;
    margin-top: 1rem;
    border-radius: 50px;
    font-size: 18px;
    padding: 0.6rem 3.5rem;
    cursor: pointer;
    border: 1px solid #1A1A1A;
}

.ps-content .btn:hover {
    background-color: #02B0EB;
    color: white;
    border: none;
    outline: none;
    transition: 0.3s linear;
}


